@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  } 
  
  * {
    box-sizing: border-box;
}

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --dark-grey-color: #333333;
    --violet-color: #9D5CD0;
    --light-color: #CACACA;
    --second-violet-color: #7943a4;

   --margin-top: 80px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

input {
    outline: none;
    border: none;
}

.main-heading {
    font-size: 48px;
    font-weight: 400;
    color: var(--dark-grey-color);
}

.second-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--dark-grey-color);
}

.desc {
    font-size: 16px;
    font-weight: 400px;
    line-height: 32px;
    color: var(--dark-grey-color);
}

.btn {
    background: transparent;
    border: none;
    outline: none;
}

/*Header*/

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.header-container__main {
    padding: 30px;
    background-color: var(--black-color);
}

.header-container__main-menu {    
    display: flex;
    align-items: center;
}

.header-container__logo {
    margin-right: 179px;
}

.header-container__nav {
    display: flex;
    justify-content: space-between;    
    width: 100%;
}

.header-container__nav-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
}

.header-container__nav-item:not(:last-child) {
    margin-right: 62px;
}

.header-container__nav-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
}

.header-container__btn-pc {
    width: 75px;
    height: 19px;
    display: flex;
}

.header-container__pc-icon {
    padding-top: 2px;
    margin-right: 7px;
}

.header-container__pc {
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
}

/*Иконка поиска*/

.header-container__btn-search {     
    /* position: relative;    */
    display: none;
    width: 29px;
    height: 29px;
}

/*Бургер*/

.header-container__burger {
    width: 36px;
    height: 28px;
    /* position: relative; */
    display: none;
}

.header-container__burger-line, .header-container__burger-line::after, .header-container__burger-line::before {
    height: 3.6px;
    width: 28px;
    position: absolute;
    background: var(--white-color);
    margin: 0 auto;
    left: 3px;
}

.header-container__burger-line::after, .header-container__burger-line::before {
    content: '';
}

.header-container__burger-line::after {
    width: 36px;
    bottom: 10px;
    left: 0;
}

.header-container__burger-line::before {
    width: 24px;
    top: 10px;
    left: 0;
}

/*Second nav*/
.header-container__second {
    position: relative;
    padding-top: 23px;
    padding-bottom: 28px;   
}

.header-container__second-menu {
    display: flex;
    justify-content: space-between;    
}

.header-container__second-menu::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    min-height: 70px;
    background-color: var(--black-color);
    opacity: 0.4;
}

.header-container__second-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

.header-container__second-item {
    position: relative;
}

.header-container__second-item:not(:last-child) {
    margin-right: 96px;
}

.header-container__item-btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 3px;
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
    transition: color 0.2s ease-in-out;
}

.header-container__item-heading {
    font-size: 18px;
    font-weight: 400;
}

.header-container__item-icon::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    transform: rotate(135deg) translateY(4px);
    transition: transform 0.5s ease;
    transform-origin: center;
}

.header-container__item-icon.is-active::after {
    transform: rotate(-45deg) translateY(4px);
}

/*Form-search*/

.header-container__form {
    z-index: 1;
    height: 26px;
}

.header-container__btn-find {
    margin-right: 5px;
    padding: 2px;
}

.header-container__btn-icon::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 22px;
    background-image: url(../img/search-icon.svg);
    background-position: contain;
    color: var(--white-color);
}

.header-container__form-search {
    width: 218px;
    padding-left: 0;
    padding-bottom: 6px;
    background: transparent;
    border-bottom: 1px solid var(--white-color);
    transform: translateY(-8px);
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 18px;
    font-weight: 400;
    color:    var(--white-color);
 }









/*Hero-container*/
.section-hero {
    position: absolute;
    z-index: -99;
    top: 0;
    width: 1920px;
    height: 800px;
    background-image: url(/img/mainSlaid1.jpg);
}


.section-hero__offer {
    max-width: 597px;
    margin-top: 230px;
}

